# created by virtualenv automatically
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtualenv
.venv/
env/
venv/
ENV/
*.egg-info/
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker
*.pid
*.tar
*.bak
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
ehthumbs.db

